/* ==========================================================================
   Typos are on purpose, actually
   ========================================================================== */
:root {
  --accent: aliceblue;
  --background-color: white;
  --color: black;
  --highlight: #e6dada;
  --gradient: linear-gradient(to left, #3d2b2b, pink, #6360a0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #3d2b2b;
    --background-color: #130d0d;
    --color: #efe3e3;
    --highlight: #3d2b2b;
    --gradient: linear-gradient(to left, #3d2b2b, pink, #6360a0);
  }
}

/* ==========================================================================
   Colors, defaults
   ========================================================================== */
html {
  /* Color functions not working as of 2024/03/19, so I can't use var here
   * https://chromium.googlesource.com/chromium/src/+/6db46180a7cde348b4fb78fe19e94d4695b91bd3
   * */
  background-color: var(--background-color);
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9em;
  height: calc(100vh - 5px);
  line-height: 1.5;
}

body {
  height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 */
::selection {
  background: var(--highlight);
  text-shadow: none;
}

.main {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

ul {
  display: flex;
  list-style-type: none;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
